<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ExtrasController</servlet-name>
        <servlet-class>Controller.ExtrasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomStatusController</servlet-name>
        <servlet-class>Controller.RoomStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomController</servlet-name>
        <servlet-class>Controller.RoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingStatusController</servlet-name>
        <servlet-class>Controller.BookingStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesController</servlet-name>
        <servlet-class>Controller.ServicesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZipcodeController</servlet-name>
        <servlet-class>Controller.ZipcodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityController</servlet-name>
        <servlet-class>Controller.CityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StreetController</servlet-name>
        <servlet-class>Controller.StreetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressController</servlet-name>
        <servlet-class>Controller.AddressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestController</servlet-name>
        <servlet-class>Controller.GuestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExtrasController</servlet-name>
        <url-pattern>/ExtrasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomStatusController</servlet-name>
        <url-pattern>/RoomStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomController</servlet-name>
        <url-pattern>/RoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingStatusController</servlet-name>
        <url-pattern>/BookingStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesController</servlet-name>
        <url-pattern>/ServicesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZipcodeController</servlet-name>
        <url-pattern>/ZipcodeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityController</servlet-name>
        <url-pattern>/CityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StreetController</servlet-name>
        <url-pattern>/StreetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressController</servlet-name>
        <url-pattern>/AddressController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestController</servlet-name>
        <url-pattern>/GuestController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
